html, body {
	font-family: 'Lato';
	height: 100%;
	margin: 0;
	position: relative;
	background-color: #3498db;
}

section {
  display: none;
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: black;
}

two {
  width: 50%;
  height: 100%;
  float: left;
  color: black;
  background: white;
  font-size: 50px;
display: flex;
flex-direction: column;
align-items: center;
user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
justify-content: center;

}

three {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  float: left;
  color: black;
  background: cyan;
  font-size: 50px;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
justify-content: center;
overflow: auto;

display:inline-block;
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
}

#ohyeah {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  float: left;
  background: white;
}

threeoverflow {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-right: 10px;
}

#temp {
  font-size: 40px;
}

div {
  width: 50%; height: 50%; float: left;
  text-align: center;
  font-size: 50px;
  display: flex;
  align-items: center;
  user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
  justify-content: center;
  color: white;
}

div p {
  margin: 0;
  color: white;
}

#div1 { background: #2979FF; }
#div2 { background: #F50057; }
#div3 { background: #00E676; }
#div4 { background: #FFC400; }
